#Title{
    background:url(../Images/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 20px;
    font-family:Consolas;
    text-align:center;
}

html{
    background-color : rgba(0, 0, 0, 0.8)
}

.information{
    display: flex;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: small;
    
}

h1{

    margin-bottom: 40px;
    font-size: 25px;
}

#Guide{

    padding-right: 30px;
}
