
.ligne{
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid #000064;
    margin: 5px 5px 40px 5px;
}

#Punishement_list{
    background-color: rgba(0,0,0,0.2);
}

html{
    background-color : rgba(0, 0, 0, 0.8)
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color:black
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color:black
}

tr:nth-child(odd) {
    background-color: rgba(200,200,200);
    color: black
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#search-bar {
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#Title{
    background:url(../Images/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 20px;
    font-family:Consolas;
    text-align:center;
}
